@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: -webkit-linear-gradient(45deg, #121297, #ff90a3);
  background: -o-linear-gradient(45deg, #121297, #ff90a3);
  background: linear-gradient(45deg, #121297, #ff90a3);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 20px;
}

.randomizer {
  text-align: center;
}

.randomizer__header {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #fefefe), to(#ff7fe1));
  background: -webkit-linear-gradient(left, #fefefe 30%, #ff7fe1);
  background: -o-linear-gradient(left, #fefefe 30%, #ff7fe1);
  background: linear-gradient(90deg, #fefefe 30%, #ff7fe1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
}

@media (max-width: 1170px) {
  .randomizer__header {
    font-size: calc(22px + 6 * ((100vw - 320px) / 850));
  }
}

.randomizer__wrapper {
  margin: 0 auto;
  margin-top: 50px;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .randomizer__wrapper {
    margin-top: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}

.randomizer__subtitle {
  max-width: 500px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 1.25em;
  font-weight: 600;
}

@media (max-width: 1170px) {
  .randomizer__subtitle {
    font-size: calc(18px + 10 * ((100vw - 320px) / 850));
  }
}

.randomizer__main {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 1170px) {
  .randomizer__main {
    margin-top: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}

.randomizer__block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.randomizer__label {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

@media (max-width: 1170px) {
  .randomizer__label {
    font-size: calc(18px + 4 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .randomizer__label {
    letter-spacing: calc(0px + 0.5 * ((100vw - 320px) / 850));
  }
}

.randomizer__input {
  width: 100px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 50px;
  border-radius: 20px;
  text-align: center;
}

@media (max-width: 1170px) {
  .randomizer__input {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}

.randomizer__start {
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: #ffffff54;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 0.4375em;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

@media (any-hover: hover) {
  .randomizer__start:hover {
    background-color: #fff;
    color: #000;
  }
}

.randomizer__bottom {
  margin-top: 50px;
}

@media (max-width: 1170px) {
  .randomizer__bottom {
    margin-top: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}

.randomizer__result {
  margin-top: 10px;
  font-size: 60px;
}

@media (max-width: 1170px) {
  .randomizer__result {
    margin-top: calc(5px + 5 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .randomizer__result {
    font-size: calc(50px + 10 * ((100vw - 320px) / 850));
  }
}
